.navbar{
    background: brown; font-family: calibri; padding-right: 15px;padding-left: 15px;
  }
  .navdiv{
    display: flex; align-items: center; justify-content: space-between;
  }
  .navdiv.items{
    font-size: 50px;
  }